<div class="row">
  <div class="col-lg-4 order-2 order-lg-2">
    <!-- Top Players-->
    <div class="card mb-3">
      <div class="card-header">
      <i class="fa fa-table"></i> Top 10 Players</div>
      <div class="card-body">
        <div class="table-responsive">
          <table ng-table="vm.tableParams" class="table table-condensed table-striped">
            <tr ng-repeat="user in $data" ng-if="$index < 10">
              <td class="text-center" title="'#'">{{$index+1}}</td>
              <td class="text-center" title="'Name'">{{user.name}}</td>
              <td class="text-center" title="'Points'">{{user.points}}</td>
              <!-- <td title="'Prize'">{{user.prize}}</td> -->
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- Example Notifications Card-->
<!--     <div class="card mb-3">
      <div class="card-header">
      <i class="fa fa-bell-o"></i> Latest Comments</div>
      <div class="list-group list-group-flush small">
        <div  ng-repeat="comment in vm.allComments" class="list-group-item list-group-item-action">
          <div class="media">
            <div class="media-body">
              <strong>{{ comment.user.username }} :</strong> {{comment.comment}}
              <div class="text-muted smaller">{{ comment.commentDate}}</div>
            </div>
          </div>
        </div>
        <a class="list-group-item list-group-item-action" ui-sref="chat">View all activity...</a>
      </div>
    </div> -->
  </div>
  <div class="col-lg-8 order-2 order-lg-1">
    <!-- Card Columns Example Social Feed-->
    <div class="card mb-0 ">
    <!--     <i class="fa fa-newspaper-o"></i> News Feed</div>
    -->
    <div class="card-header">News Feed</div>
    <!-- <hr class="mt-2"> -->
    <div class="card-columns">
      <div class="card mb-3" ng-repeat="rss in vm.allRss">
        <a target="_blank" href="{{ rss.link }}">
          <img class="img-thumbnail" ng-src="{{ rss.image }}" alt="">
        </a>
        <div class="card-body">
          <h6 class="card-title mb-1">
          <a target="_blank" href="{{ rss.link }}">{{ rss.title }}</a>
          </h6>
        </div>
      </div>
    </div>
    <!-- /Card Columns-->
  </div>
</div>