<div class="row">
    <div class="col-lg-3 mb-3">
        <div class="row">
            <div class="col-12">
                <div class="card text-white bg-danger o-hidden h-100">
                    <div class="card-body">
                        <h5 class="text-center text-dark">Streak Overview</h5>
                        <div class="table-responsive">                        
                            <table class="table mr-5">
                                <tr>
                                    <th>User</th>
                                    <th>Streak</th>
                                </tr>
                                <tr ng-repeat="(key, entry) in vm.userStreakHistoryLimits">
                                    <td>{{entry.user.username}}</td>
                                    <td ng-if="key == 'max'">{{entry.maxStreak}}</td>
                                    <td ng-if="key == 'min'">{{entry.minStreak}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="card text-white bg-danger o-hidden h-100">
                    <div class="card-body">
                        <h5 class="text-center text-dark">Days in top Positions</h5>
                        <div class="table-responsive">                        
                            <table class="table mr-5">
                                <tr>
                                    <th>User</th>
                                    <th>Days</th>
                                </tr>
                                <tr ng-repeat="(key, value) in vm.topRanked">
                                    <td>{{value.name}}</td>
                                    <td>{{value.value}}</td>
                                </tr>
                            </table>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card mb-3">
            <div class="card-header">
            <i class="fa fa-bar-chart"></i> User Rank History</div>
            <div class="card-body">
                <canvas id="line" class="chart chart-line" chart-data="vm.userRankHistory.data" chart-labels="vm.userRankHistory.labels" chart-options="vm.userRankHistory.options" width="100" height="50"> </canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-header">
            <i class="fa fa-bar-chart"></i>Current Users Streak</div>
            <div class="card-body">
                <canvas id="base1" class="chart-horizontal-bar"
                chart-data="vm.userStreak.data" chart-labels="vm.userStreak.labels" width="100" height="350" >
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-header">
            <i class="fa fa-pie-chart"></i> Users Risk Index</div>
            <div class="card-body">
                <canvas id="base2" class="chart-horizontal-bar"
                chart-data="vm.riskIndex.data" width="100" height="350" chart-labels="vm.riskIndex.labels" >
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-header">
            <i class="fa fa-bar-chart"></i> User Streak History</div>
            <div class="card-body">
                <canvas id="base3" class="chart-horizontal-bar"
                chart-data="vm.userStreakHistory.data" chart-labels="vm.userStreakHistory.labels" width="100" height="350">
                </canvas>
            </div>
        </div>
    </div>
</div>