<h4><small>User {{ vm.selectedUser }}</small></h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Home</th>
            <th scope="col">Away</th>
            <th scope="col">Goals Home</th>
            <th scope="col">Goals Away</th>
            <th scope="col">Status</th>
            <th scope="col" style="text-align:center" colspan="2">Score</th>
            <th scope="col" style="text-align:center" colspan="2">Over</th>
        </tr>
        <tr>
            <th scope="col" colspan="6"></th>
            <th scope="col">Bet</th>
            <th scope="col">Points</th>
            <th scope="col">Bet</th>
            <th scope="col">Points</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="bet in vm.selectedBets | orderBy:'game.gameDate'" class="{{ bet.resultPoints > 0 ? 'success' : 'danger' }}">
            <td><a href="#" ng-click="showMatch(bet.game.id)">{{ bet.game.gameDate }}<a/></td>
            <td>{{ bet.game.homeName }}</td>
            <td>{{ bet.game.awayName }}</td>
            <td>{{ bet.game.goalsHome }}</td>
            <td>{{ bet.game.goalsAway }}</td>
            <td>{{ bet.game.status }}</td>
            <td>{{ bet.scoreResult }}</td>
            <td>{{ bet.resultPoints }}</td>
            <td>{{ bet.overResult }}</td>
            <td>{{ bet.overPoints }}</td>
        </tr>
    </tbody>
</table>