<div class="input-group">
  <input ng-model="vm.new_comment" type="text" class="form-control" placeholder="Comment" maxlength="500">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="vm.addComment()">
    <span class="glyphicon glyphicon-send">Send</span>
    </button>
  </span>
</div>
<p id="passwordHelpBlock" class="form-text text-muted">
  Post image link: Right click on the online image -> select "Copy image address" -> Paste inside Comment textfield -> Hit "Send"<br>
  Post youtube link: Copy video url -> Paste inside Comment textfield -> Hit "Send"
</p>
<br>
<div class="card mb-3">
  <div class="card-header">
  <i class="fa fa-bell-o"></i> World Cup Challenge 2022 Chat </div>
  <div class="list-group list-group-flush small">
    <div  ng-repeat="comment in vm.allComments" class="list-group-item list-group-item-action">
      <div class="col-sm-12 col-md-8 col-xl-8">
        <div class="media-body">
          <strong>{{ comment.user.username }} :</strong> 
          <!-- {{comment.comment | safeHtml}} -->
           <p ng-bind-html="comment.comment | safeHtml"></p>

          <div class="text-muted smaller">{{ comment.commentDate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>