<div class="input-group">
  <input ng-model="vm.new_comment" type="text" class="form-control" placeholder="Comment" maxlength="200">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="vm.addComment()">
    <span class="glyphicon glyphicon-send">Send</span>
    </button>
  </span>
</div>
<br>
<div class="card mb-3">
  <div class="card-header">
  <i class="fa fa-bell-o"></i> WC2018 Chat </div>
  <div class="list-group list-group-flush small">
    <div  ng-repeat="comment in vm.allComments" class="list-group-item list-group-item-action">
      <div class="media">
        <div class="media-body">
          <strong>{{ comment.user.username }} :</strong> {{comment.comment}}
          <div class="text-muted smaller">{{ comment.commentDate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>