<div class="card">
    <div class="card-header text-center"><b>{{ vm.selectedGame.game.homeName }} - {{ vm.selectedGame.game.awayName }}</b></div>
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-3">
                <div class="card text-white bg-primary o-hidden h-100" style="background-color: #43bebc !important;">
                    <div class="card-body">
                        <div>Status: &nbsp;&nbsp;&nbsp;&nbsp;{{ vm.selectedGame.game.status }} </div>
                        <div>Date: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ vm.selectedGame.game.gameDate | date : 'MMM d, h:mm a'}}</div>
                        <div>Score: &nbsp;&nbsp;&nbsp;&nbsp;{{ vm.selectedGame.game.goalsHome }} - {{ vm.selectedGame.game.goalsAway }}</div>
                        <div>Home: &nbsp;&nbsp;&nbsp; {{ vm.selectedGame.oddsHome | number: 2 }}</div>
                        <div>Draw: &nbsp;&nbsp;&nbsp;&nbsp; {{ vm.selectedGame.oddsTie | number: 2 }}</div>
                        <div>Away: &nbsp;&nbsp;&nbsp;&nbsp; {{ vm.selectedGame.oddsAway | number: 2 }}</div>
                        <div ng-show="vm.isPlayoffGame">Over: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ vm.selectedGame.oddsOver | number: 2 }}</div>
                        <div ng-show="vm.isPlayoffGame">Under: &nbsp;&nbsp;&nbsp; {{ vm.selectedGame.oddsUnder | number: 2 }}</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-3">
                <h6 ng-if="vm.data.length > 0" class="text-center">3WayBets stats</h6>
                <canvas id="pie" class="chart chart-pie"
                chart-data="vm.data" chart-labels="vm.labels" chart-options="vm.options" labels="true">
                </canvas>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-3" ng-show="vm.isPlayoffGame">
                <h6 ng-if="vm.data2[0] || vm.data2[1]" class="text-center">U/OBet stats</h6>
                <canvas id="pie" class="chart chart-pie"
                chart-data="vm.data2" chart-labels="vm.labels2" chart-options="vm.options" labels="true">
                </canvas>
            </div>            
        </div>
    </div>
</div>
<br>
<div class="table-responsive">
    <table ng-table="vm.tableParams" ng-show="!vm.isPlayoffGame" class="table table-condensed table-striped" show-filter="true">
        <tr ng-repeat="entry in $data">
            <td class="text-left" title="'Player'" filter="{ 'args.name': 'text'}" sortable="'args.name'">{{entry.args.name}}</a></td>
            <td class="text-right" title="'3WayBet'" filter="{ scoreResult: 'text'}" sortable="'scoreResult'">{{ entry.scoreResult | betName}}</td>
            <td class="text-right" title="'3WayBet Points'" sortable="'resultPoints'" ng-class="{'table-success'
            : entry.resultPoints > 0 }">{{ entry.resultPoints }}</td>
        </tr>
    </table>
    <table ng-table="vm.tableParams" ng-show="vm.isPlayoffGame" class="table table-condensed table-striped" show-filter="true">
        <tr ng-repeat="entry in $data">
            <td class="text-left" title="'Player'" filter="{ 'args.name': 'text'}" sortable="'args.name'">{{entry.args.name}}</a></td>
            <td class="text-right" title="'3WayBet'" filter="{ scoreResult: 'text'}" sortable="'scoreResult'">{{ entry.scoreResult | betName}}</td>
            <td class="text-right" title="'3WayBet Points'" sortable="'resultPoints'" ng-class="{'table-success'
            : entry.resultPoints > 0 }">{{ entry.resultPoints }}</td>
            <td class="text-center" title="'U/OBet'" sortable="'overResult'" filter="{ overResult: 'text'}" ng-show="vm.isPlayoffGame">{{ entry.overResult }}</td>
            <td class="text-center" title="'U/OBet Points'" sortable="'overPoints'" ng-class="{'table-success'
            : entry.overPoints > 0 }" ng-show="vm.isPlayoffGame">{{ entry.overPoints }}</td>
        </tr>
    </table>    
</div>