<div class="container">
    <div class="card card-login mx-auto mt-3">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>Please reset your password</h4>
            </div>
            <form>
                <div class="form-group">
                    <input class="form-control mb-5" id="exampleInputpassword" type="password" aria-describedby="passwordHelp" placeholder="New Password" ng-model="vm.password">
                    <input class="form-control mb-5" id="exampleInputpassword1" type="password" aria-describedby="passwordHelp" placeholder="Confirm Password" ng-model="vm.passwordConfirm">
                </div>
                <a class="btn btn-primary btn-block" style="color:white;" ng-click="vm.resetPass()">Reset Password</a>
            </form>
        </div>
    </div>
    <div class="card card-login mx-auto mt-3">
        <div class="card-header">Account</div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="optOu">
                        <input type="checkbox" id="optOu" name="optOu" value="newsletter" ng-model="vm.optOut"/>
                        Delete your account and erase your data. <br>
                        <b>The request will be processed after the end of the competition</b>
                    </label>
                </div>
                <a class="btn btn-primary btn-block" style="color:white;" ng-click="vm.setOptOut()">Save</a>
            </form>
        </div>
    </div>
</div>