<div class="row">
    <div class="col-12 text-center">
        <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="mr-5">Please make sure to submit your picks by Wednesday, June 13, 15.00 UTC/GMT +3 (Athens).</div>
            </div>
        </div>
    </div>
</div>
<br>
<form name="editform">
    <div class="table-responsive">
        <table ng-table="vm.tableParams" class="table table-condensed table-striped">
            <tr ng-repeat="game in $data">
                <td class="text-center" title="'Match'"><a ui-sref="match({gameId: game.game.id})">{{ game.game.homeName }} - {{ game.game.awayName }}</a></td>
                <td class="text-center" title="'Date'">{{ game.game.gameDate | date : 'MMM d, h:mm a'}}</td>
                <td class="text-center" title="'Score'">{{ game.game.goalsHome }} - {{ game.game.goalsAway }}</td>
                <td class="text-center" title="'Status'">{{ game.game.status }}</td>
                <td class="text-center" title="'1'">{{game.oddsHome | number: 2}}</td>
                <td class="text-center" title="'X'">{{game.oddsTie | number: 2}}</td>
                <td class="text-center" title="'2'">{{game.oddsAway | number: 2}}</td>
                <td class="text-center" title="'3WayBet'">
<!--                     <select ng-model="vm.userBets[game.game.id]" required class="betSelect" style="{{ vm.userBets[game.game.id] == null ?  'border: 1px solid red;' : ''}}"> -->
                    <select ng-model="vm.userBets[game.game.id]" required class="betSelect">
                        <option value=""></option>
                        <option value="HOME_1">1</option>
                        <option value="DRAW_X">X</option>
                        <option value="AWAY_2">2</option>
                    </select>
                </td>
                <td ng-if="game.game.matchDay > 3" class="text-center" title="'Under'">{{game.oddsUnder}}</td>
                <td ng-if="game.game.matchDay > 3" class="text-center" title="'Over'">{{game.oddsOver}}</td>
                <td ng-if="game.game.matchDay > 3" class="text-center" title="'OverUnderBet'">
<!--                     <select ng-model="vm.userOverBets[game.game.id]" style="{{ userBets[game.game.id] == null ?  'border: 1px solid red;' : ''}}" required> -->           
                    <select ng-model="vm.userOverBets[game.game.id]" required>
                        <option value=""></option>
                        <option value="UNDER">UNDER</option>
                        <option value="OVER">OVER</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <br/>
    <div class="float-right">
        <button type="button" ng-disabled="vm.enableSubmit" class="btn btn-success col-m" ng-click="vm.saveBets()">Submit Picks</button>
    </div>
    <div class="row">
        <div ng-show="vm.editError" class="col-12 text-center" style="color:red">Missing fields</div>
        <div ng-show="vm.editSuccess" class="col-12 text-center" style="color:green">Picks saved successfully</div>
    </div>
    <br/>
</form>